body {
    color: rgb(0, 0, 0);
    background: rgb(0, 102, 255);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(133, 78, 15);
    padding: 20px;
    font-size: 32px;
    color: rgb(203, 148, 85);
}

section {
    background: rgb(0, 140, 255)
}